@font-face {
    font-family: Moranga-Medium;
    src: url(../Moranga/Moranga-Medium.otf) format("opentype");
}

@font-face {
    font-family: Moranga-Regular;
    src: url(../Moranga/Moranga-Regular.otf) format("opentype");
}

@font-face {
    font-family: Moranga-LightIt;
    src: url(../Moranga/Moranga-LightIt.otf) format("opentype");
}


@font-face {
    font-family: Moranga-Light;
    src: url(../Moranga/Moranga-Light.otf) format("opentype");
}

@font-face {
    font-family: Proxima;
    src: url(../Proxima_Nova/ProximaSoft-Regular.otf) format("opentype");
}

@font-face {
    font-family: ProximaMed;
    src: url(../Proxima_Nova/ProximaSoft-Medium.otf) format("opentype");
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FEF0DC;
    font-family: Proxima;
    color: black;
}

/* MENU -- START */

.vertical-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 3.25rem;
    background-color: #61667C;
    /*transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;*/
    box-shadow: -5px 0px 20px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.chapter-cell {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 10%;
}

.chapters_menu {
    display: flex;
    justify-content: flex-end;
}


.hide h4 {
    background-color: inherit;
    color: white;
    font-family: Moranga-Regular;
    font-size: 1.4rem;
    letter-spacing: 1.25px;
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    padding-left: 1rem;
    opacity: 100%;
    cursor: default;
}


.vertical-menu a {
    font-family: Moranga-Regular;
    background-color: inherit;
    color: #252830;
    margin: 0;
    margin-left: 1rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    width: 4rem;
    height: 3.25rem;
    display: inline-block;

}

.vertical-menu:hover {
    width: 100%;
    height: 3.25rem;
}

.vertical-menu:hover .hide h4 {
    opacity: 100%;


}

.vertical-menu a.active {
    color: #FEF0DC;
}

.vertical-menu a:hover {
    color: white;
    width: 4rem;
    height: 3.25rem;
    cursor: pointer;
    background-color: #A6AED1;
    border-radius: 0%;
    margin-bottom: 3.5rem;
}

.vertical-menu a.active:hover {
    color: white;
    border: none;
    width: 4rem;
    height: 3.25rem;
    margin-bottom: 3.5rem;


}

#lockChap2 #text {
    display: block;
}

#lockChap2:hover #text,
#lockChap3:hover #text {
    display: none;
}

#lock {
    display: none;
}

#lockChap2:hover #lock,
#lockChap3:hover #lock {
    display: inline-block;
    margin: 0;

}

#lockChap2,
#lockChap3 {
    background-color: #60667E;
    cursor: default;

}

#lockChap2 img,
#lockChap3 img {
    max-width: 2rem;

}




/* MENU -- END */


.main {
    width: 100%;
    height: 100vh;
    background: #FEF0DC;
    /*display: grid;*/
    margin-bottom: 40px;
    text-align: center;

}


.chapters {
    padding-top: 45%;
    width: 95%;
    margin: auto;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */

}

.chapters h3 {
    font-size: 2.5rem;
    font-family: Moranga-Medium;
    padding-bottom: 0;
    margin-top: 0;


}

.chapters h1 {
    font-size: 4rem;
    line-height: 3rem;
    font-family: Moranga-LightIt;
    color: #60667E;
    margin-top: 0;

}

.mainText {
    width: 95%;
    padding: 20px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    font-family: Proxima;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
}

.mainText br {
    display: none;
}

#gallery {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
}

#gallery:hover {
    color: #808598;
}


.photoAlbum {
    background-image: none;
    background-position: 15rem -5rem;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 55%;

}

.subHeader h1 {
    font-family: Moranga-LightIt;
    font-size: 2rem;
    line-height: 2rem;
    color: #60667E;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5rem;

}

.photoAlbumText {

    background-color: rgba(254, 240, 220, 0.5);
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    margin-right: auto;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Proxima;
    width: 95%;
}

.photoAlbumText img {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5%;
    margin-left: 2.5%;
    margin-right: 2.65%;
    margin-bottom: 4vh;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5%;
    margin: auto;
    margin-bottom: 2vh;

}



.cell {
    height: auto;

}

.col3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Proxima;
    padding: 10px;
    height: auto;
    width: 95%;
    margin: auto;
    margin-bottom: 0rem;

}

.col3 i {
    display: inline-block;
    margin-top: 0.75rem;
}

.col3 span,
.col1 span {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

.col3 img {
    display: block;
    margin: 1rem auto;
}

#mobilepic3 {
    display: none;
    margin: 1rem auto;
}

#mobilepic2 {
    display: block;
}

#mainPic2 {
    display: none;
    width: 100%;
    height: auto;
}

.col3 br {
    display: none;
}

#mobilepic {
    display: block;
    max-width: 90%;
    height: auto;
    margin-top: 3vh;
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

.col2 img {
    display: none;
    margin: auto;
    margin-bottom: 6vh;
    max-height: 60vh;
    margin-top: 2rem;
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.col2 {
    display: none;
}




.col1 {
    width: 93%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Proxima;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 2rem;

}




.col4 h1,
#deadEnd h1 {
    text-align: center;
    font-family: Moranga-LightIt;
    font-size: 2rem;
    line-height: 2rem;
    color: #60667E;
    margin-bottom: 0.75rem;

}

#sign-in h1 {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    text-align: center;
    font-family: Moranga-LightIt;
    font-size: 2rem;
    line-height: 2rem;
    color: #60667E;
}




.col4 {
    width: 95%;
    margin: 0rem auto;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Proxima;
    padding: 10px;
    text-align: left;

}

.col4 br {
    display: none;
}

.col4 img {
    display: block;
    margin: 1rem 0;

}

#ending {
    display: none;
}

.hidden {
    display: none;
    text-align: center;
    color: firebrick;
    font-size: 1.2rem;
}

.hidden h4 {
    margin-top: 0.5rem;
}


input {
    font-family: Proxima;
    text-align: center;
    display: block;
    background-color: rgb(253, 229, 195, 0.9);
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 2px solid #FEF0DC;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: capitalize;

}

input::placeholder {
    color: rgba(219, 148, 72, 0.35);
    text-transform: lowercase;
    font-size: 1.2rem;

}

input:focus {
    outline: none;
    background-image: linear-gradient(to right, rgba(219, 148, 72, 0.8) 60%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 30px 3px;
    background-repeat: repeat-x;
}

input:hover {
    outline: none;
    background-image: linear-gradient(to right, rgba(219, 148, 72, 0.8) 60%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 30px 3px;
    background-repeat: repeat-x;
}



#guess-input3 {
    text-transform: lowercase;

}

#guess-input,
#guess-input2,
#guess-input3,
#guess-input4,
#guess-input5,
#guess-input6 {
    border: 2px solid #FEF0DC;

}


button {
    display: block;
    background-color: #60667E;
    color: white;
    margin: 0vh auto;
    margin-top: 1rem;
    padding: 0.5rem 0.85rem;
    font-family: Proxima;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
    background-color: #595873;


}

#magic button {
    padding: 0.8rem 1.25rem;
}

a {
    text-decoration: none;
}



#searchImage {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    margin-bottom: 1rem;

}

.guess-submit {
    text-decoration: none;
    color: white;
}

/* TITLE */
#qr_sect {
    position: relative;
    background-image: url(../img/LandingIllustrations.png);
    background-position: 2vw 43vh;
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;

}

.centered {
    display: block;
    width: 100%;
    position: absolute;
    padding: 0.5rem;
    margin: 20% auto;
    margin-top: 40%;
    font-size: 1.25rem;
    font-family: ProximaMed;
    text-align: center;
}



.centered h1 {
    display: block;
    text-align: left;
    font-family: Moranga-RegularIt;
    font-size: 2.75rem;
    line-height: 3rem;
    color: #60667E;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    text-align: center;



}

.centered span {
    margin: 0rem;

}

#friendship {
    padding: 0.75rem 2.5rem;
    margin-left: auto;
    margin-top: 2rem;
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    border-radius: 10px;

}




@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
